[submodule "botw"]
	path = dump/console/libs/botw
	url = https://github.com/zeldaret/botw
	branch = master
[submodule "botw-symbols"]
	path = dump/console/libs/botw-symbols
	url = https://github.com/Pistonight/botw-symbols
	branch = main
