[submodule "botw"]
	path = dump/console/libs/botw
	url = https://github.com/Pistonight/botw-decomp
	branch = dev
[submodule "botw-symbols"]
	path = dump/console/libs/botw-symbols
	url = https://github.com/Pistonight/botw-symbols
	branch = main
[submodule "mono-dev"]
	path = packages/mono-dev
	url = https://github.com/Pistonight/mono-dev
	branch = main
[submodule "research-scripts"]
	path = packages/research-scripts
	url = https://github.com/Pistonight/botw-research-scripts
	branch = main
