name: Publish
on:
  push:
    tags:
      - v*.*.*
  # for testing
  pull_request:
    branches:
      - main

jobs:
  publish:
    name: Publish Release
    runs-on: ubuntu-latest
    permissions:
      contents: write
    steps:
    - uses: actions/checkout@v4
    - uses: arduino/setup-task@v2
      with:
        version: 3.x
        repo-token: ${{ secrets.GITHUB_TOKEN }}
    - run: mkdir -p package
    - uses: dawidd6/action-download-artifact@v2
      with:
        github_token: ${{ secrets.GITHUB_TOKEN }}
        workflow: build.yml
        # commit: ${{ github.sha }}
        commit: 87464f9edb46579f5fa90f2035523980e9dbb41b
        path: package
    - uses: robinraju/release-downloader@v1
      with:
        tag: compactdb
        fileName: database.7z
        out-file-path: package
        extract: false
    - uses: johnyherangi/create-release-notes@v1
      id: release-notes
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
    - run: |
        echo "${{ steps.release-notes.outputs.release-notes }}" > .github/RELEASE_NOTES.md
        cat .github/RELEASE_NOTES_FOOTER.md >> .github/RELEASE_NOTES.md
    - name: Package (windows)
      run: |
        cp package/database.7z package/botwrdb-bundle-windows.7z
        cp package/botwrdb-windows/botwrdb.exe .
        7z u package/botwrdb-bundle-windows.7z botwrdb.exe
        7z a package/botwrdb-windows.7z botwrdb.exe
        rm botwrdb.exe
    - name: Package (linux)
      run: |
        cp package/database.7z package/botwrdb-bundle-linux.7z
        cp package/botwrdb-linux/botwrdb .
        7z u package/botwrdb-bundle-linux.7z botwrdb
        7z a package/botwrdb-linux.7z botwrdb
        rm botwrdb
    - name: Package (macos-x86_64)
      run: |
        cp package/database.7z package/botwrdb-bundle-macos-x86_64.7z
        cp package/botwrdb-macos-x86_64/botwrdb .
        7z u package/botwrdb-bundle-macos-x86_64.7z botwrdb
        7z a package/botwrdb-macos-x86_64.7z botwrdb
        rm botwrdb
    - name: Package (macos-aarch64)
      run: |
        cp package/database.7z package/botwrdb-bundle-macos-aarch64.7z
        cp package/botwrdb-macos-aarch64/botwrdb .
        7z u package/botwrdb-bundle-macos-aarch64.7z botwrdb
        7z a package/botwrdb-macos-aarch64.7z botwrdb
        rm botwrdb
    - uses: softprops/action-gh-release@v2
      with:
        draft: true
        body_path: .github/RELEASE_NOTES.md
        files: |
          package/botwrdb-bundle-windows.7z
          package/botwrdb-bundle-linux.7z
          package/botwrdb-bundle-macos-x86_64.7z
          package/botwrdb-bundle-macos-aarch64.7z
          package/botwrdb-windows.7z
          package/botwrdb-linux.7z
          package/botwrdb-macos-x86_64.7z
          package/botwrdb-macos-aarch64.7z
